*{
    padding: 0;
    margin: 0;
}
header {
    display: block;
    position: relative;
    background-color: black;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
}
body {
    /* background-image: url("/static/appsettings/img/bgg.jpg"); */
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

.button1{
    border-radius: 15%;
    background-color: orange;
    height: 50px;
    width: 200px;
    color: black;
    margin: 10;
}
.user1{
    color: white;
    display: flex;
    justify-content: flex-end;
    left: 80%;
}