{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'shoppingcardpage/css/shopping.css' %}">
{% endblock %}
{% block content %}
    <div class = 'wrapper'>
        <img src="{% static 'productpage/img/obv1.jpg' %}" alt="Тут могла бы быть ваша реклама, но вы нам не заплатили">
    </div>
    <div id = balshoiDiv>
        <p>
             
        </p>
        <p> 1000$ </p>
        <p>
            Производитель
        </p>
    </div>

{% endblock %}