{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'contactpage/css/contactpage.css' %}">
{% endblock %}
{% block content %}
    <div class = text>
        <h1>Магазин "Успех" </h1>
    </div>    
    <div id = id1>
        <p id = number>Телефон:</p>
        <p>+380000000000</p>
        <p>+380000000000</p>
        <p>+380000000000</p>
        

    </div>
    <div id = id2>
        <p>Контакти:</p>
        <a href="https://www.whatsapp.com/?lang=uk_UA" id = ida>WhatsApp</a>
        <a href="https://web.telegram.org/" id = ida>Telegram</a><br>
        <a href="https://www.viber.com/ru/" id  = ida>Viber</a>

        
    </div>  
    <div id = id3>
        <p id = p>Нашi магазини:</p>
        <a href="https://www.google.com/maps?q=%D0%B4%D0%BD%D0%B5%D0%BF%D1%80+%D0%BC%D1%8D%D1%80%D0%B8%D1%8F&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB7SAQgyNjMxajBqN6gCALACAA&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjTgb6KtJ6CAxVegP0HHQjCD6oQ_AUoA3oECAMQBQ" id = ida>Днiпро</a>
        <a href="https://www.google.com/maps?sca_esv=577883791&q=%D1%85%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2+%D0%BC%D1%8D%D1%80%D0%B8%D1%8F&biw=1920&bih=963&dpr=1&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjS8qf6s56CAxULhP0HHd4IBJ0Q_AUoA3oECAEQBQ" id = ida>Харкiв</a><br>
        <a href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9A%D1%80%D0%B5%D1%89%D0%B0%D1%82%D0%B8%D0%BA,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4475854,30.5194508,17z/data=!4m15!1m8!3m7!1s0x40d4ce56b2456d3b:0xd062ae171b57e947!2z0YPQuy4g0JrRgNC10YnQsNGC0LjQuiwg0JrQuNC10LIsIDAyMDAw!3b1!8m2!3d50.4475854!4d30.5220257!16zL20vMDlydmhu!3m5!1s0x40d4ce56b2456d3b:0xd062ae171b57e947!8m2!3d50.4475854!4d30.5220257!16zL20vMDlydmhu?entry=ttu" id  = ida>Київ</a>        
    </div>   
{% endblock %}
