{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'autoregister/css/style.css' %}">
{% endblock %}
{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{user_error}}
        <p><input type="text" placeholder="username" name="username" required></p>
        <p><input type="password" placeholder="password" name="password" required></p>
        <p><input type="password" placeholder="confirm your password" name="password_confirm" required></p>
            <button id = 'id2'>Create</button>

            <button id = 'id3'><a href="{% url 'login' %}">signin</a></button>
    </form>
</div>
{% endblock %}